<nav class="navbar navbar-default navbar-inverse navbar-pf" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleState()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" [ngClass]="{ 'in' : isNavbarVisible }">
      <ul class="nav navbar-nav">
        <li class="context dropdown recent-items-dropdown" dropdown *ngIf="loggedInUser">
          <a class="recent-items-toggle io-recent-items-active dropdown-toggle" dropdownToggle data-toggle="tooltip" title="{{currentContext.name}}">
            <div id="header_dropdownToggle" class="recent-items-toggle-text">
            <span class="nav-item-icon">
              <span class="{{currentContext.type?.icon}}"></span>
            </span>
              <span>{{currentContext.name}}</span>
              <span class="nav-item-icon">
              <span class="caret"></span>
            </span>
            </div>
          </a>
          <!-- current Space and recent items dropdown -->
          <ul class="dropdown-menu recent-items" *dropdownMenu>
            <li class="recent-items-toggle" *ngFor="let c of recentContexts">              
              <a class="recent-items-text-dropdown"
                (click)="selectRecentContext(c)"
                *ngIf="c.path !== null && c.path != currentContext.path"
                data-toggle="tooltip" title="{{c.name}}">
                <span class="nav-item-icon">
                  <span class="{{c.type.icon}}"></span>
                </span>
                <span>{{c.name}}</span>
              </a>
              <a *ngIf="c.path === null">
              <span class="nav-item-icon">
                <span class=" {{c.type.icon}}"></span>
              </span>
                <span>{{c.name}}</span>
              </a>
            </li>
            <li class="divider"></li>
            <li id="header_createSpace">
              <a (click)="createSpace()">
              <span class="nav-item-icon">
                <i class="pficon pficon-add-circle-o"></i>
              </span>
                Create space
              </a>
            </li>
            <li id="header_viewAllSpaces">              
              <a (click)="viewAllSpaces()">
              <span class="nav-item-icon">
                <i class="fa fa-th"></i>
              </span>
                View all spaces
              </a>
            </li>
            <li class="divider"></li>
            <li id="header_accountHome">
              <a (click)="accountHome()">
                <span class="nav-item-icon">
                  <i class="pficon pficon-home"></i>
                </span>
                Account home
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul id="header_rightDropdown" class="nav navbar-nav navbar-right">
        <!-- status dropdown -->
        <li dropdown id="header_status" placement="top" tooltip="Status: Ok" class="dropdown status-dropdown">
            <a class="status-dropdown dropdown-toggle" title="Status: Ok" dropdownToggle>
              <span class="pull-right pficon pficon-ok pficon-white"></span>
            </a>
            <ul class="dropdown-menu" *dropdownMenu>
              <li *ngFor="let s of systemStatus">
                <a>
                  <span class="nav-item-icon">
                    <i class="pficon" [ngClass]="{'pficon-ok' : s.statusOk, 'pficon-in-progress' : !s.statusOk}"></i>
                  </span>
                  {{s.name}}
                </a>
              </li>
            </ul>
        </li>
        <!-- user profile dropdown -->
        <li class="login-block">
          <a *ngIf="!loggedInUser" (click)="login()">
          <span class="login-block-logged-out-user">
            <i id="header_login" class="pficon pficon-user"></i>
          </span>
            Log In
          </a>
        </li>
        <li *ngIf="loggedInUser" dropdown class="pull-right dropdown user-dropdown-menu">
          <a class="user-dropdown dropdown-toggle" title="{{loggedInUser.attributes.fullName}}" dropdownToggle>
            <div *ngIf="loggedInUser" id="header_dropdownToggle2" class="user-dropdown-items">
              <span class="user-icon">
                <span *ngIf="!avatarLoaded" class="pficon pficon-user"></span>
                <img (load)="avatarLoaded=true" src="{{ loggedInUser.attributes.imageURL }}" [ngClass]="{'show' : avatarLoaded, 'img-icon' : avatarLoaded, 'hide' : !avatarLoaded}">
              </span>
              <span>{{loggedInUser.attributes.fullName}}</span>
              <span class="caret"></span>
            </div>
          </a>
          <ul class="dropdown-menu" *dropdownMenu>
            <li id="header_loggedinProfile">
              <a (click)="userProfile()">
                Profile
              </a>
            </li>
            <li id="header_loggedinAbout">
              <a (click)="about()" class="pointer">
                About
              </a>
            </li>
            <li class="divider"></li>
            <li id="header_logout">
              <a *ngIf="loggedInUser" (click)="logout()" class="pointer">
                Log Out
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- secondary navigation for all sub-links -->
      <ul class="nav navbar-nav navbar-primary persistent-secondary">
        <li *ngFor="let m of currentContext?.type?.menus" [class.active]="m.active" [class.with-no-children]="(m.menus||[]).length===0">
          <a (click)="menuSelect(m)" *ngIf="!m.hide">
            <span *ngIf="m.icon" class="nav-item-icon">
              <span class="{{m.icon}}"></span>
            </span>
            <span *ngIf="m.name">{{m.name}}</span>
          </a>
          <ul class="nav navbar-nav navbar-persistent" *ngIf="m.menus">
            <li *ngFor="let n of m.menus" [class.active]="n.active">
              <a (click)="secondaryMenuSelect(n)" *ngIf="!n.hide">
                <span>
                  {{n.name}}
                </span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>
