# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
dist-demo
src/app/**/*.css
src/app/**/*.js
src/app/**/*.js.map
tmp

# dependencies
node_modules

# IDEs and editors
.idea
.project
*.launch
.settings
.vscode

# misc
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
typings
functional_tests.log
unit_tests.log
linters
browser_logs.log
stats.json

#System Files
.DS_Store
Thumbs.db
